@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}

.logo span {
    color: #7d2ae8;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    font-weight: 600px;
    margin-left: 50px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #7d2ae8;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover {
    color: #7d2ae8;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}

@media (max-width: 1024px) {
    header {
        padding: 40px 28px;
    }

    .navigation {
        margin-left: -70px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 30px 10px;
    }

    .logo {
        font-size: 35px;
    }

    .navigation {
        margin-left: -45px;
    }

    .navigation a {
        margin-left: 10px;
    }
}

@media (max-width: 740px) {
    .navigation a {
        margin-left: 9px;
        font-size: 16px;
    }
}

@media (max-width: 670px) {
    .navigation a {
        margin-left: 7px;
        font-size: 15px;
    }
}

@media (max-width: 644px) {
    .navigation a {
        margin-left: 5px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 10px;
    }

    .logo {
        font-size: 23px;
    }

    .navigation {
        margin-right: 0px;
    }

    .navigation a {
        margin-left: 17px;
        font-size: 14px;
    }

    .btn-talk {
        display: none;
    }
}

@media (max-width: 430px) {
    header {
        padding: 20px 10px;
    }

    .navigation a {
        margin-left: 14px;
        font-size: 13.5px;
    }

    .logo {
        font-size: 20px;
    }
}

@media (max-width: 380px) {

    .logo {
        font-size: 19px;
    }

    .navigation a {
        margin-left: 9px;
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .logo {
        font-size: 18px;
    }

    .navigation a {
        margin-left: 7px;
        font-size: 14px;
    }
}

@media (max-width: 347px) {
    .logo {
        font-size: 17px;
    }

    .navigation a {
        margin-left: 4px;
        font-size: 13px;
    }
}

@media (max-width: 330px) {
    .logo {
        font-size: 16px;
    }

    .navigation a {
        margin-left: 3.5px;
        font-size: 12.5px;
    }
}