header {
    position: relative !important
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.portfolio-grid {
    width: calc(100% - 180px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 70px 140px;
    padding: 20px;
    box-sizing: border-box;
}

.portfolio-item {
    background-color: #7d2ae8;
    transition: transform 0.3s;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.portfolio-item:hover {
    transform: scale(1.05);
}


.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
}

@media (max-width: 1024px) {
    .portfolio-grid {
        width: calc(100% - 40px);
        gap: 40px;
    }

    .portfolio-link {
        font-size: 27px;
    }
}

@media (max-width: 768px) {
    .portfolio-grid {
        width: calc(100% - 20px);
        gap: 20px;
    }

    .portfolio-link {
        font-size: 24px;
    }
}


@media (max-width: 480px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 15px;
    }

    .portfolio-link {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .portfolio-link {
        font-size: 13px;
    }
}