* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-container {
    position: static !important;
}

body {
    color: #333;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
}

.portfolio-item {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
    padding: 12px 12px 17px 12px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
    border: .5px solid #0000003b;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-link {
    text-decoration: none;
    color: #7d2ae8;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 10px;
    display: block;
}

.portfolio-icons {
    margin-top: 10px;
}

.portfolio-icons a {
    margin: 0 10px;
    font-size: 1.5em;
    color: #7d2ae8;
    transition: color 0.3s;
}

.portfolio-icons a:hover {
    color: #555;
}

@media (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}