@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}

.logo span {
    color: #7d2ae8;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    font-weight: 600px;
    margin-left: 50px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #7d2ae8;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover {
    color: #7d2ae8;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.img-iqb {
    position: absolute;
    width: 30%;
    left: 63%;
    top: 25%;
    border-radius: 17px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.content {
    max-width: 500px;
    color: #555;
}

.content h2 {
    font-size: 3em;
}

.content h2 span {
    color: #7d2ae8;
}

.content h4 span {
    color: #7d2ae8;
}

.content p span {
    color: #7d2ae8;
    font-weight: 600;
}

.content h4 {
    font-size: 2em;
}

.content p {
    padding: 10px 0 40px 0;
}

.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}

.btn-group a:hover:nth-child(1) {
    color: #7d2ae8;
    background: transparent;
}

.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
}

.social-icons {
    position: relative;
    top: 150px;
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1.5px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s;
}

.social-icons a:hover {
    transform: translateY(-7px);
}

.social-icons a i {
    color: #fff;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-column-gap: 10px;
    margin: 90px;
}

.abox {
    width: 270px;
    height: 270px;
    margin-top: 45px;
    background-color: #7d2ae8;
    transition: transform 0.3s;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.abox:hover {
    transform: scale(1.05);
}

.contact h2 {
    font-size: 3em;
    color: #7d2ae8;
    padding-bottom: 10px;
}

.contact p {
    max-width: 500px;
    margin: 0 auto;
}

.contact-info {
    display: inline-block;
    width: calc(50% - 250px);
    margin-top: 0px;
}

.contact-item i {
    color: #7d2ae8;
    font-size: 25px;
    padding-top: 30px;
}

.contact-info span {
    color: #7d2ae8;
    font-weight: 700;
}

.contact-form-container {
    vertical-align: top;
    text-align: center;
    margin-top: 30px;
}

.contact-form {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 9px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #7d2ae8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s, transform 0.3s, box-shadow 0.5s;
}

.contact-form button:active {
    background-color: rgb(20, 0, 46);
    transform: scale(1.1);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}


.contact {
    text-align: center;
    margin-top: 105px;
}

.alink {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
}

.contact-item p a {
    color: black;
    text-decoration: none;
}

@media (max-width: 1024px) {

    header {
        padding: 40px 28px;
    }

    .navigation {
        margin-left: -70px;
    }

    .home {
        height: 0;
        padding: 0px;
        display: block;
    }

    .img-iqb {
        position: relative;
        width: 55%;
        left: 22%;
        top: 170px;
    }

    .content {
        max-width: 555px;
        color: #555;
        padding-top: 20%;
        margin-left: 22%;
    }

    .social-icons {
        top: 40px;
    }

    .social-icons a {
        margin-right: 50px;
    }

    .link-container {
        margin: 120px 28px;
        grid-column-gap: 10px;
    }

    .abox {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    .alink {
        font-size: 29px;
    }

    .contact-item i {
        font-size: 40px;
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .contact-item p {
        font-size: 20px;
    }

    .contact-form {
        padding: 9px;
    }

    .contact {
        margin-top: 250px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 30px 10px;
    }

    .logo {
        font-size: 35px;
    }

    .navigation {
        margin-left: -45px;
    }

    .navigation a {
        margin-left: 10px;
    }


    .img-iqb {
        width: 55%;
        left: 22%;
        top: 11%;
    }

    .img-iqb {
        width: 55%;
        left: 22%;
        top: 170px;
    }

    .content {
        max-width: 440px;
        padding-top: 23%;
        margin-left: 22%;
    }

    .social-icons {
        top: 40px;
    }

    .social-icons a {
        margin-right: 50px;
    }

    .link-container {
        margin: 120px 8px;
    }

    .abox {
        width: 170px;
        height: 170px;
    }

    .alink {
        font-size: 25px;
    }

    .contact-item i {
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .contact-item p {
        font-size: 14px;
    }

    .contact-form {
        padding: 7px;
    }

    .contact {
        margin-top: 150px;
    }
}

@media (max-width: 740px) {

    .navigation a {
        margin-left: 9px;
        font-size: 16px;
    }

    .alink {
        font-size: 21px;
    }

    .abox {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 670px) {
    .navigation a {
        margin-left: 7px;
        font-size: 15px;
    }

    .alink {
        font-size: 19px;
    }

    .abox {
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 644px) {
    .navigation a {
        margin-left: 5px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 10px;
    }

    .logo {
        font-size: 23px;
    }

    .navigation {
        margin-right: 0px;
    }

    .navigation a {
        margin-left: 17px;
        font-size: 14px;
    }

    .btn-talk {
        display: none;
    }

    .btn-talk:hover {
        color: #7d2ae8;
        background: transparent;
    }

    .home {
        padding: 0px 35px;
    }

    .img-iqb {
        width: 80%;
        left: 35px;
        top: 90px;
    }

    .content {
        padding-top: 33%;
        margin-left: 0px;
    }

    .content h2 {
        font-size: 25px;
    }

    .content h4 {
        font-size: 22px;
    }

    .content p {
        font-size: 14px;
    }

    .social-icons {
        top: 40px;
    }

    .social-icons a {
        margin-right: 30px;
    }

    .btn-group a {
        padding: 10px 20px;
    }

    .btn-group a:nth-child(2) {
        margin-left: 20px;
    }

    .link-container {
        margin: 77px 8px;
        grid-column-gap: 5px;
    }

    .abox {
        width: 90px;
        height: 90px;
        margin-top: 17px;
        border-radius: 11px;
    }

    .alink {
        font-size: 13px;
    }

    .contact-info {
        display: contents;
    }

    .contact-item i {
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .contact-item p {
        font-size: 14px;
    }

    .contact {
        margin-top: 120px;
    }

    .contact h2 {
        font-size: 35px;
    }

    .contact p {
        font-size: 14px;
        padding: 0px 20px;
    }

    .contact-form-container {
        padding: 0px 20px;
    }
}

@media (max-width: 430px) {
    header {
        padding: 20px 10px;
    }

    .navigation a {
        margin-left: 14px;
        font-size: 13.5px;
    }

    .logo {
        font-size: 20px;
    }

    .abox {
        width: 82px;
        height: 82px;
    }

    .alink {
        font-size: 12px;
    }
}

@media (max-width: 380px) {

    .logo {
        font-size: 19px;
    }

    .navigation a {
        margin-left: 9px;
        font-size: 14px;
    }

    .home {
        padding: 0px 30px;
    }

    .img-iqb {
        width: 80%;
        left: 35px;
        top: 90px;
    }

    .content p {
        font-size: 13px;
    }

    .link-container {
        margin: 75px 8px;
        grid-column-gap: 5px;
    }

    .abox {
        width: 75px;
        height: 75px;
        margin-top: 14px;
        border-radius: 9px;
    }

    .alink {
        font-size: 11px;
    }

    .contact-item i {
        font-size: 22px;
    }

    .contact {
        margin-top: 80px;
    }

    .contact p {
        font-size: 13px;
        padding: 0px 20px;
    }

    .contact-form-container {
        padding: 0px 20px;
    }

    .btn-group a {
        padding: 10px 10px;
    }

    .btn-group a:nth-child(2) {
        margin-left: 15px;
        padding: 10px 20px;
    }
}

@media (max-width: 360px) {

    .logo {
        font-size: 18px;
    }

    .navigation a {
        margin-left: 7px;
        font-size: 14px;
    }

    .alink {
        font-size: 10.5px;
    }

    .abox {
        width: 70px;
        height: 70px;
    }

    .btn-group a {
        padding: 10px 10px;
    }

    .btn-group a:nth-child(2) {
        margin-left: 10px;
        padding: 10px 10px;
    }
}

@media (max-width: 347px) {

    .logo {
        font-size: 17px;
    }

    .navigation a {
        margin-left: 4px;
        font-size: 13px;
    }

    .abox {
        width: 65px;
        height: 65px;
    }

}

@media (max-width: 330px) {

    .logo {
        font-size: 16px;
    }

    .navigation a {
        margin-left: 3.5px;
        font-size: 12.5px;
    }

    .abox {
        width: 65px;
        height: 65px;
    }
}